.signIn-container {
  color: white;
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  button {
    padding: 1rem 2rem;
    background-color: #232323;
    margin-bottom: 1rem;
    border-radius: 5rem;
  }
}
