.TripDetails {
  display: flex;
  flex-direction: column;

  background-color: #0e1012;
  opacity: 1;
  background-image: linear-gradient(#161719 1.1px, transparent 1.1px),
    linear-gradient(to right, #161719 1.1px, #0e1012 1.1px);
  background-size: 22px 22px;
  color: white;

  #map {
    height: 40%;
    width: 100%;
  }

  .trip_form {
    height: 60%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10fr 1fr;
    grid-template-areas:
      "itinerary"
      "com ";
  }
  .itinerary_container {
    overflow-y: auto;
    height: 60%;
    width: 100%;
  }
}

/**--------------------------------------  */

@media (min-width: 700px) {
  #adjustment {
    grid-area: com;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    textarea {
      margin-right: 1rem;
      max-height: 3rem;
    }
    button {
      border-radius: 0.5rem;
      min-width: 3rem;
      height: 3rem;
    }
  }

  .tripName {
    font-size: x-large;
  }
  .tripDate {
    font-size: x-large;
  }
}
@media (min-width: 900px) {
  .TripDetails {
    flex-direction: row-reverse;
    padding: 1rem;
    gap: 1rem;

    #map {
      height: 100%;
      flex-basis: 50%;
      border-radius: 1rem;
    }
    .trip_form {
      height: 100%;
      flex-basis: 50%;
    }
    .itinerary_container {
      height: 100%;
      flex-basis: 50%;
    }
  }

  .tripList {
    flex-direction: row;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .trips {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .trips aside {
    flex-direction: row;
  }
  .tripControl {
    margin-top: 10px;
    flex-basis: 20%;
  }
}
@media (min-width: 1400px) {
  .TripDetails {
    gap: 2rem;
    #map {
      flex-basis: 70%;
    }
    .trip_form {
      flex-basis: 30%;
    }
    .itinerary_container {
      flex-basis: 30%;
    }
  }
}
