@tailwind base;
@tailwind components;
@tailwind utilities;
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgba(16, 16, 16, 1);
  opacity: 1;
  overflow: hidden;
  height: 100vh;
  min-width: 25rem;
  display: flex;
  flex-direction: column;
  color: white;
}
.MainNav {
  height: 5vh;
}
/** ---------------------Home Page----------------------- */
#home_main {
  flex-grow: 2;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  padding: 0 1rem;
  /**bg*/
  background-position: center;
  background-size: cover;
  background: rgb(83, 112, 255);
  background: radial-gradient(
    circle,
    rgba(83, 112, 255, 1) 29%,
    rgba(0, 172, 185, 1) 100%
  );
}
#home_main h1 {
  font-size: 1.5rem;
  margin: 1rem 0;
  padding: 0 2rem;
  text-align: center;
}
#home_content {
  min-width: 24rem;
  width: 100%;
  max-height: 34rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#home_content #map {
  flex-grow: 80;
  display: flex;
  border-radius: 10px;
}

#home_form {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  padding: 0 2rem;
  margin-top: 2rem;
  justify-content: space-between;
  align-content: center;
}
#RangePicker {
  min-height: 2rem;
  min-width: 2rem;
  color: black;
}
#home_form button {
  margin-top: 0.8rem;
  min-height: 2.5rem;
}

@media (min-width: 700px), (orientation: landscape) {
  #home_main {
    padding: 4rem;
  }
  #home_main h1 {
    font-size: 2.5rem;
    justify-content: space-between;
  }
  #home_content {
    max-height: 50rem;
    height: 100%;
    max-width: 90rem;
    width: 100%;
  }
  #home_form {
    flex-direction: row;
    justify-content: flex-end;
  }
  #home_form button {
    min-width: 15rem;
    margin-top: 0;
    margin-left: 2rem;
    min-height: 2.5rem;
  }

  #RangePicker {
    min-height: 1.5rem;
    min-width: 7rem;
    width: 100%;
  }
}

/**-------------------------------Trip---------------------  */
#TripDetails {
  height: 95vh;
  display: flex;
  flex-direction: row;

  align-content: center;
  align-items: center;
  /* padding: 0 1rem; */
  /**bg*/
  background-position: center;
  background-size: cover;
  background: rgb(83, 112, 255);
  background: radial-gradient(
    circle,
    rgba(83, 112, 255, 1) 29%,
    rgba(0, 172, 185, 1) 100%
  );
}
#TripDetails #map {
  /* width: 100%;
  min-height: 30rem; */
  flex-grow: 1;
  min-width: 30rem;
  min-height: 30rem;
}

#trip_form {
  flex: 1;
  flex-basis: 40%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr 10fr 1fr;
  grid-template-areas:
    "loc "
    "chat "
    "com ";
  border-radius: 10px;
  color: white;
  margin-right: 2rem;
  border: 0.1rem solid white;
  padding: 0 0.5rem;
}
#trip_form > div {
  grid-area: loc;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  color: white;
}

#trip_form > aside {
  grid-area: com;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
#trip_form > aside > textarea {
  flex: 1;
  max-height: 3.5rem;
  font-size: 0.7rem;
}
#trip_form > aside > button {
  width: 100px;
  font-size: 0.7rem;
}
.ai-location {
  color: aqua;
  text-decoration-line: underline;
}

/* 
/* AI chat box */
/* 




#map {
  flex: 1;
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
}
.TripDetails #map {
  padding-right: 1rem;
}
#map div {
  flex-grow: 2;
}



#menu {
  position: absolute;
  background: #efefef;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
}

main {
  height: 95vh;
  background-position: center;
  background-size: cover;
  background: rgb(83, 112, 255);
  background: radial-gradient(
    circle,
    rgba(83, 112, 255, 1) 29%,
    rgba(0, 172, 185, 1) 100%
  );
}

.Home {
  width: 80vw;
  flex-grow: 2;
}
.Home form {

  border: 1px solid rgba(209, 213, 219, 0.3);
}
 */
