@use "./sass/scrollBar.scss";
@use "./sass//style_reset.scss";
@use "./sass/z_index.scss";
@use "./sass//spinner.scss";
@use "./routes/account/account.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  // opacity: 1;
  overflow: hidden;
  min-width: 20rem;

  color: white;
  background: #232323;
}

.page-container {
  position: relative;
  height: 95svh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
}
h1 {
  font-size: clamp(1.5rem, 0.8571rem + 2.8571vw, 3rem);
  padding-bottom: 1rem;
  text-align: center;
  color: white;
}
