@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  background-color: rgba(16, 16, 16, 1);
  opacity: 1;
  /* background-image: linear-gradient(#686868 5.4px, transparent 5.4px),
    linear-gradient(90deg, #686868 5.4px, transparent 5.4px),
    linear-gradient(#686868 2.7px, transparent 2.7px),
    linear-gradient(90deg, #686868 2.7px, rgba(16, 16, 16, 1) 2.7px);
  background-size: 135px 135px, 135px 135px, 27px 27px, 27px 27px;
  background-position: -5.4px -5.4px, -5.4px -5.4px, -2.7px -2.7px,
    -2.7px -2.7px; */
  /* overflow: hidden; */
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.calendar {
  background-color: aqua;
}

.MainNav {
  height: 5vh;
}

.TripDetails {
  height: 95vh;
  display: flex;
  flex-direction: row;
  padding: 1rem;
}
.TripDetails > form {
  flex: 1;
  flex-basis: 40%;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr 10fr 1fr;
  grid-template-areas:
    "loc "
    "chat "
    "com ";
  border-radius: 10px;
  color: white;
}
.TripDetails > form > div {
  grid-area: loc;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
  color: white;
}

.TripDetails > form > aside {
  grid-area: com;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
.TripDetails > form > aside > textarea {
  flex: 1;
}
.TripDetails > form > aside > button {
  width: 100px;
}

.TripDetails > form > section {
  overflow: auto;
  padding: 1rem;
  line-height: 2rem;
  font-size: 1rem;
}
.TripDetails > form > section ul {
  margin: 0;
  padding: 0;
}

.TripDetails > form > section ul li {
  /* margin-bottom: 6px; */
  list-style: disc;
}

#map {
  flex: 1;
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
}
.TripDetails #map {
  padding: 10px;
}
#map div {
  flex-grow: 2;
}

.ai-location {
  background-color: aqua;
}

#menu {
  position: absolute;
  background: #efefef;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
}

main {
  height: 95vh;
  background-image: url("https://images.unsplash.com/photo-1531366936337-7c912a4589a7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
  background-position: center;
  background-size: cover;
}

.Home {
  width: 80vw;
  flex-grow: 2;
}
.Home form {
  border-radius: 0 0 10px 10px;
  /* backdrop-filter: blur(12px) saturate(103%);
  -webkit-backdrop-filter: blur(12px) saturate(103%);
  background: rgba(158, 255, 160, 0.863); */
  backdrop-filter: blur(14px) saturate(200%);
  -webkit-backdrop-filter: blur(14px) saturate(200%);
  background-color: rgba(171, 253, 211, 0.795);
  /* background: rgba(255, 255, 255, 0.685); */
  border: 1px solid rgba(209, 213, 219, 0.3);
}
.mapboxgl-canvas {
  border-radius: 10px 10px 10px 10px;
}
.mapboxgl-ctrl-attrib {
  border-bottom-right-radius: 10px;
}
