#home-main {
  max-width: 1200px;
  margin: 0 auto;
}

#home_content {
  // max-height: 34rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.home-button {
  width: 100%;
  max-width: 400px;
  text-align: center;

  margin: 0.7rem auto 0 auto;

  border-radius: 2rem;

  font-size: 1rem;

  &:last-child {
    padding: 0.5rem 0;
  }

  button,
  div {
    border-radius: 2rem;

    width: 100%;
  }
}

@media (min-width: 700px) {
  #home-main {
    padding: 2rem 0;
    h1 {
      padding: 1rem 0;
    }
    form {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .ant-picker {
        min-width: 400px;
        margin: 0 auto;
        font-size: 1rem;
        padding: 0.5rem 1rem;
      }
    }
  }
}

@media (min-width: 1000px) {
  #home-main {
    form {
      margin-top: 2rem;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      .ant-picker {
        margin: 0 2rem 0 0;
        height: 3rem;
      }
    }
  }

  .home-button {
    margin: 0;
    height: 3rem;
  }
}

// #home_form button {
//   min-width: 15rem;
//   margin-top: 0;
//   margin-left: 2rem;
//   min-height: 2.5rem;
// }
// #RangePicker {
//   min-height: 1.5rem;
//   min-width: 7rem;
//   width: 100%;
// }
