#topographic {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 1080px;
  background-color: #0e1012;
  path {
    fill: #1c1c1c;
    stroke-width: 1;
    stroke-miterlimit: 0;
    stroke: lighten(#232323, 10%);
    stroke-dasharray: 500;
    stroke-dashoffset: 1000;
    animation: dash 10s linear alternate infinite;
  }
}

// svg#logo {
//   width: 120px;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   z-index: 10;
//   margin-left: -60px;
//   margin-top: -80px;
// }

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
