.itinerary_container {
  overflow: auto;
  padding: 0.5rem;
  width: 100%;
  scroll-padding: 0.5rem;
  position: relative;

  aside {
    display: flex;
    flex-direction: row;
    margin: 0.3rem 0;
  }
  h1 {
    text-wrap: pretty;
    text-align: start;
  }
  .itinerary__header {
    display: flex;
    flex-direction: column;

    align-items: center;

    span {
      width: 100%;
    }
    p {
      font-size: 0.8rem;
    }
    button {
      width: 2rem;
      height: 2rem;
    }
  }
}
