/** chat destination text*/
.timeofday {
  margin-right: 0.5rem;
}
.ai-location {
  color: aqua;
  text-decoration-line: underline;
  font-size: medium;
  margin-left: 0.5rem;
}

/** chat date text*/
.ai-day {
  margin: 2rem 0;
}

.ai-date {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
}
/** chat list text*/
.ai-list {
  padding-left: 3rem;
  list-style-type: disc;
}

#itinerary_container {
  grid-area: itinerary;

  overflow: auto;
  padding: 0 1rem;
  scroll-snap-type: y mandatory;
  scroll-padding: 0.5rem;

  aside {
    display: flex;
    flex-direction: row;
    margin: 0.3rem 0;
  }

  > div {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin: 1rem 0;
    button {
      width: 2rem;
      height: 2rem;
    }
  }
}
