.tripList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: small;
}
.trips {
  flex-basis: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-grow: 10; */
}
.trips aside {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.tripControl {
  margin-top: 10px;
  flex-basis: 10%;
  /* flex-grow: 1; */
}
.signIn-container {
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  button {
    padding: 1rem 2rem;
    background-color: #232323;
    margin-bottom: 1rem;
    border-radius: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;
  }
}
