/** Map */
.mapboxgl-popup-content {
  color: black;
}
.mapboxgl-ctrl-geocoder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;

  .mapboxgl-ctrl-geocoder--icon {
    top: auto;
    margin-top: 2px;

    path {
      fill: black !important;
    }
  }
  input {
    padding: 0 3rem;
    height: 100%;
  }
}
#map {
  flex-grow: 20;
  display: flex;
}
@media (min-width: 700px) {
  #map {
    border-radius: 10px;
  }
}
@media (max-width: 450px) {
  .mapboxgl-ctrl-geocoder {
    font-size: 1rem !important;
    max-width: 270px !important;
  }
}
