.card {
  .card_link {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    background-color: hsl(218, 14%, 11%);
    border: solid hsl(218, 14%, 15%) 1px;
    border-radius: 0.5rem;
    min-width: 300px;

    p {
      line-height: 2rem;
      &:first-child {
        flex-basis: 60%;
        // margin-right: 1rem;
      }
      &:last-child {
        text-align: end;
        flex-basis: 40%;
      }
    }
  }
}
