.card {
  display: flex;
  flex-direction: row;
  padding: 1rem 1rem 1rem 0;
  background-color: hsl(218, 14%, 11%);
  border: solid hsl(218, 14%, 15%) 1px;
  border-radius: 0.5rem;
  min-width: 300px;

  .card__link {
    color: white;
    .link__info {
      display: flex;
      flex-direction: row;
      align-items: center;
      div {
        font-size: 2rem;
        padding: 1rem;
      }
      span {
        h3 {
          padding-bottom: 0.5rem;
          font-size: 1.1rem;
        }
        p {
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media (min-width: 700px) {
  .card {
    padding: 2rem 0 2rem 1rem;
  }
}
