.card {
  position: relative;

  button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem;
  }
  .card_link {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: hsl(218, 14%, 11%);
    border: solid hsl(218, 14%, 15%) 1px;
    border-radius: 0.5rem;
    min-width: 300px;

    .destination {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 1rem;
    }
    .dates {
      display: flex;
      p {
        flex-basis: 50%;
      }
    }
    line-height: 2rem;
  }
}
